* {
    box-sizing:border-box;
}

html {
    height:100%;
    margin:0;
    padding:0;
}

body {
    display:flex;
    flex-direction:column;
    max-height:100vh;
    max-height:100dvh;
    max-height:100svh;
    height:100%;
    margin:0;
    padding:0;
}

::-webkit-scrollbar {
    width:5px;
}

header {
    display:flex;
    flex-direction:row;
    margin:0;
    padding:1em;
    text-align:center;
    background:linear-gradient(to top right, lightgrey, darkgrey);
}

.hamburgermenu {
    display:none;
    cursor:pointer;
}

.hamburgermenu:active > div {
    border:3px solid rgb(60, 59, 59);
}

.hamburgermenu div {
    width:2rem;
    border:3px solid black;
    margin:1px 0;
}

header img {
    display:inline-block;
    margin:0;
    padding:0;
    height:clamp(1rem, 1rem + 1vw, 2.5rem);
    vertical-align:sub;
}

header h1 {
    display:inline-block;
    margin:0;
    padding:0;
    font-size:clamp(1rem, 1rem + 1vw, 2.5rem);
}

header div:last-child {
    flex:1;
    align-self:center;
}

.calendar {
    flex:1;
    display:flex;
    margin:0;
    padding:0;
}

.calendar > div:last-child {
    padding:1rem;
}

.sidebar {
    background-color:#f1f1f1;
    margin:0;
    text-align:center;
    flex-grow:1;
    overflow-y:scroll;
    overflow-x:hidden;
    height:100%;
    min-width:max-content;
}

.sidebar::-webkit-scrollbar {
    width:1px;
}

.year {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    padding:1rem;
}

#currentyear {
    padding:0 1rem;
}

.monthlist a {
    display:block;
    text-decoration:none;
    padding:1rem;
    color:black;
    font-weight:bold;
}

.monthlist a:hover {
    background-color:#333;
    color:white;
}

.main-calendar {
    flex-grow:4;
    text-align:center;
}

#monthandyear {
    font-size:1.5rem;
}

table {
    width:90%;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

table tr {
    margin:5px;
}

table td, table th {
    padding:clamp(0.5rem, 0.8rem + 1vw, 1.5rem);
    margin:5px;
    background-color:transparent;
    border:none;
}

table td:not(:empty):hover {
    border:2px solid grey;
}

.events {
    flex-grow:2;
    text-align:center;
    position:relative;
}

.events > span {
    display:none;
    position:absolute;
    right:1rem;
    padding:0.5rem;
    cursor:pointer;
    background:lightgrey;
}

.events > span:hover {
    color:red;
}

#selecteddate {
    display:none;
}

#nolocalstorage {
    display:none;
    color:red;
}

.eventdescription p:nth-child(3) {
    display:none;
}

#noevent {
    display:none;
}

.hide {
    display:none;
}

.show {
    display:block;
}

#eventlist {
    list-style-type:none;
}

#enterevents {
    display:block;
    width:70%;
    max-width:800px;
    aspect-ratio:3/2;
    margin:1rem auto;
}

#entereventdescription {
    display:none;
}

@media screen and (max-width:800px) {
    .hamburgermenu {
        display:block;
    }

    header img {
        display:none;
    }

    .calendar {
        flex-direction:column;
    }

    .sidebar {
        position:absolute;
        z-index:1;
        padding-bottom:5rem;
    }

    #displaydates tbody {
        display:grid;
        grid-template-columns:auto;
        grid-template-rows:repeat(7, 1fr);
        gap:5px;
        width:100%;
    }

    tbody tr {
        display:grid;
        grid-template-rows:auto;
        grid-template-columns:repeat(7, 1fr);
        gap:5px;
    }

    table td, table th {
        padding:0;
        margin:0;
    }

    table {
        width:100%;
    }

    .events {
        display:none;
    }

    .events > span {
        display:block;
    }

    .sidebar {
        display:none;
        position:absolute;
    }
}
